/* Global Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white; /* Deep blue-grey background */
    
   
}

.container_assist {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    display: flex;
            justify-content: center;
            align-items: center;
    
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white; /* Dark grey for the main container */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Subtle white glow */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.info-panel {
    position: fixed;
    top: 0;
    left: 0; /* Ensure it starts visible */
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    transition: left 0.3s;
    z-index: 1000;
    padding: 20px;
}

.info-panel.open {
    left: 0; /* Slide in */
}

/* The 'closed' class will be used to hide the panel off-screen */
.info-panel.closed {
    left: -250px; /* Slide off-screen */
}

/* Add styles for the close button inside the panel */
#close-panel-btn {
    cursor: pointer;
    /* Style as needed */
}

/* Optional: Style the info button in the top bar */
#info-panel-btn {
    cursor: pointer;
    /* Style as needed */
}

/* Styling for the toggle container */
#toggle-container {
    display: none; /* Initially hidden when panel is open */
    position: absolute;
    top: 50%;
    right: -50px; /* Adjust based on the button size to align it outside the panel */
    transform: translateY(-50%);
    z-index: 1100; /* Ensure it's above the panel */
}

/* Styling for the toggle button */
#toggle-panel-btn {
    cursor: pointer;
    /* Style as needed */
}

/* Show toggle container only when panel is closed */
.info-panel.closed #toggle-container {
    display: block;
}

/* Adjust the closed class for the info panel to move it off-screen except for toggle button area */
.info-panel.closed {
    left: calc(-100% + 50px); /* Adjust so the toggle button area is visible */
}



.gpts table {
    width: 90%;
            overflow-x: auto;
            justify-content: center;
            align-items: center;
    
   
}

.gpts td {
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.gpts td.spacer {
    width: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.gpts img {
    max-width: 100%;
    border-radius: 10px;
}

.generated-image {
  max-width: 70%; /* Set the maximum width to 40% of the chat window */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

.logo-container img{

    width: auto; /* Width is set to auto to maintain aspect ratio */
  height: 100vh; 
}

/* Estilos base para os avatares */
.avatar {
    width: 40px; /* Ajuste a largura como uma porcentagem do contêiner pai */
    height: auto; /* Isso mantém a proporção da imagem automaticamente */
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos específicos para o avatar do bot */
  .bot-avatar {
    border-radius: 50%;
  }
  
  /* Estilos específicos para o avatar do usuário */
  .user-avatar {
    border-radius: 50%;
  }

  @media (max-width: 600px) {
    .avatar {
      width: 40px; /* Tamanho maior para telas menores */
    }
  }
  
  /* Estilos para telas de tamanho médio (como tablets) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .avatar {
      width: 40px; /* Tamanho intermediário para telas médias */
    }
  }


.api-image-style {
    border: 3px solid #3498db; /* Blue border */
    padding: 10px;             /* 10 pixels of padding */
    display: block;            /* Block display makes it start on a new line and take up the full width */
    max-width: 60%;           /* Makes the image responsive */
    height: auto;              /* Keeps the image's aspect ratio */
    margin: 0 auto;            /* Centers the image if it's not as wide as its container */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow around the image */
}

.top-bar {
    background-color: white;
    color: black;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Keep it fixed at the top */
    width: 100%;
    top: 10px;
    z-index: 10;
}

.top-bar button {
    border: 1px solid #313339;
    background-color: #B4E6E3;
    border-radius: 10px; /* Adjust the value as needed */
   
}

.top-bar h2 {
   


    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight:400;
  
}

.top-bar h1 {
    height: 20px;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center; /* Center the text content */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
}


.hero img {
    width: 100vw; /* Viewport width: 100% of the viewport's width */
    height: 100vh; /* Viewport height: 100% of the viewport's height */
    object-fit:contain; /* This will cover the entire area, potentially clipping the image */
  }

  .add_square {
    width: 100%;
    height: auto
  }

  .top-bar img {
    width: auto; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
}

.model-select {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #313339;
    color: #83E0DC;
    margin-left: auto;
}

.chat-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    background-color: white;
    margin-top: 25px; /* Adjust this margin based on the actual height of your fixed top bar plus 10px margin */
    margin-bottom: 10px; /* Adjust this margin based on the actual height of your fixed input area plus 10px margin */
}

.message-separator {
    height: 10px; /* Example height; adjust as needed */
    margin-top: 5px; /* Optional: space above the separator */
    margin-bottom: 5px; /* Optional: space below the separator */
    background-color: #ffffff; /* Optional: color of the separator */
    /* Add any additional styles you need for the separator */
}

.chat-message {
    /* padding: 10px; */
    margin-bottom: 5px;
    border-radius: 8px;
    background-color: #202225;
    color: black;
    display: block;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    
}

.user-message, .bot-message {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0; /* Resetting margins */
}

.bot-message {
    /*background-color: #d3e7e7;  Lighter tone for bot messages */
    background-color: white;
}

.user-message {
   /* background-color: #B4E5E3;  Same as .chat-message for consistency */
   background-color: white; 
}

.input-area {
    padding: 10px 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 80%;
    z-index: 10;
}

#message-text {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px; /* Added margin to the right */
    border-radius: 15px;
    border: 1px solid #313339;
    background-color: white;
    color: black;
    font-size: 1em;
}

input[type="text"]::placeholder {
    color: #7f7c7c;
  }
  

.input-area label {
    cursor: pointer;
    background-color: #B4E5E3;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 10px;


    border: 1px solid #313339;
   
}

.input-area button {
    border: 1px solid #313339;
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 12px;
    cursor: pointer;
    flex-grow: 0; /* Prevents buttons from growing */
    flex-shrink: 0; /* Prevents buttons from shrinking */
    margin-right: 10px; /* Add margin to the right of each button */
}

.input-area button:last-child {
    margin-right: 0; /* Removes margin for the last button */
}

.input-area button:hover {
    background-color: black;
    color: white;
}

input[type="file"] {
    display: none;
}

input, button, select {
    font-size: 1em;
}

input:focus, button:focus, select:focus {
    outline: none;
}

::placeholder {
    color: #d0d0d0;
}

#input-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out the elements */
}

#spinner {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Lighter grey for the spinner circle */
    border-top: 4px solid black; /* Blue color for the spinner indicator */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-right: 10px;
    margin-left: 10px; /* Add margin to create space between text box and spinner */
    display: none; /* Do not display the spinner by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* New Styles for Instruction Textarea and Button */
#instruction-text {
    flex-grow: 1; /* Allow textarea to take up available space */
    padding: 10px; /* Padding for text area */
    border-radius: 4px;
    border: 1px solid #313339; /* Subtle border for textarea */
    background-color: #313339;
    color: white;
    font-size: 1em;
    resize: vertical; /* Only allow vertical resizing */
    min-height: 38px; /* Set a minimum height for the textarea */
    max-height: 100px; /* Set a maximum height for the textarea */
    margin: 0; /* Reset margin */
}

#submit-instructions {
    padding: 10px 15px;
    background-color: #0a84ff; /* Blue color for submit button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; /* Prevent the button text from wrapping */
    margin: 0; /* Reset margin */
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
    .top-bar {
        padding: 10px; /* Adjusted padding */
        height: 20px; /* Specify a fixed height for consistency */
    }

    .chat-window {
        /* Calculate space dynamically to ensure it fits between top-bar and input-area */
        position: absolute; /* Use absolute positioning for precise control */
        top: 30px; /* Height of the top-bar plus the desired margin */
        bottom: 10px; /* Height of the input-area plus the desired margin, adjust this value based on your input-area's actual height */
        left: 10px;
        right: 10px;
        padding: 5px;
        overflow-y: auto; /* Keep overflow handling */
    }

    .input-area {
        display: flex; /* Use flexbox to lay out children in a row */
        align-items: center; /* Vertically center align items in the container */
        justify-content: space-between; /* Space out the children */
        padding: 10px 5px; /* Adjust padding as needed */
        height: 60px; /* Fixed height for consistency */
        left: 15px; /* Adjusted for positioning */
        width: calc(100% - 30px); /* Adjust width to account for left positioning */
        bottom: 0; /* Ensure it's at the very bottom */
        position: fixed; /* Fix position to the bottom */
        background-color: #fff; /* Optional: Set background color */
    }
    

    .input-area #message-text {
        width: auto; /* Allow the input to automatically fill available space */
        flex-grow: 1; /* Grow to use available space */
        margin-right: 10px; /* Space between input and next element */
    }
    

    .input-area button {
        white-space: nowrap; /* Prevent text wrapping in the button */
        flex-shrink: 0; /* Prevent the button from shrinking */
    }

    #instruction-text,
    #submit-instructions {
        width: 100%; /* Full width on smaller screens */
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #submit-instructions {
        margin-left: 0;
    }
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #b5e4e3; /* Adjust to match your color scheme */
    color: black;
    margin-bottom: 5px; /* Space between accordion buttons */
}

.active, .accordion:hover {
    background-color: #007bff; /* Slightly darker blue on hover/active */
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: #1c1e22; /* Dark grey for content */
    overflow: hidden;
    color: white;
}

.panel a {
    color: white; /* White color for links */
    text-decoration: none; /* Optional: removes underline from links */
}

.panel a:hover {
    color: #0a84ff; /* Light blue color on hover */
}

.panel a:visited {
    color: white; /* White color for visited links */
}

.info_blocks {
    padding: 10px 20px;
    background-color: #f4f5f8; /* Match the container background */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333; /* Adds a subtle border for separation */
    margin-top: 10px; /* Space from the preceding element */
    flex-wrap: wrap; /* Wrap items on smaller screens */
}

.settings-area {
    padding: 10px 20px;
    background-color: #b5e4e3; /* Match the container background */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333; /* Adds a subtle border for separation */
    margin-top: 10px; /* Space from the preceding element */
    flex-wrap: wrap; /* Wrap items on smaller screens */
}

.settings-area label {
    color: white;
    margin-right: 10px;
}

.settings-area input[type="number"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #313339;
    background-color: #313339;
    color: white;
    margin-right: 10px;
    width: 100px; /* Fixed width for number inputs */
}

#update-settings {
    padding: 10px 15px;
    background-color: #0a84ff; /* Bright blue to stand out */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

#update-settings:hover {
    background-color: #007bff; /* Slightly lighter blue on hover */
}

#temperature-value {
    color: white; /* Set text color to white */
    margin-left: 8px; /* Add some space between the slider and the value display */
    font-weight: bold; /* Optional: makes the number stand out more */
}


/* Responsive Design for Settings Area */
@media (max-width: 768px) {
    .settings-area {
        justify-content: center;
    }

    .settings-area label,
    .settings-area input[type="number"],
    #update-settings {
        width: 100%; /* Full width on smaller screens */
        margin-bottom: 10px; /* Space between stacked items */
    }

    .settings-area label {
        margin-right: 0;
    }
}




.button-27 {
  appearance: none;
  background-color: #fdfafa;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #2654eb;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}



